* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
body {
  background: linear-gradient(180deg, #f6f8fb 0%, #eef2f7 100%);
  background-color: #eeeff1;
  
}
.header {
  height: 550px;
  background-image: url("../images/1456.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*padding-top: 30px;*/
  text-align: center;
}
.header .nav-links .nav-item a i {
  margin-right: 8px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 1250px;
  width: 100%;
  margin: auto;
  /* border-radius: 20px;*/
  /* height: 40px;*/
  height: 45px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}

.header .nav-links .nav-item a {
  text-decoration: none;
  color: black;
}
.header .nav-links .nav-item a:hover {
  color: red;
}
nav .nav-logo {
  font-size: 1.5rem;
  color: rgb(162, 59, 22);
}
.button {
  width: 250px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button button {
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color: white;
  background-color: rgb(7, 113, 219);
  transition: 0.2s linear;
}
.button button:hover {
  color: rgb(7, 113, 219);
  background-color: transparent;
  border: 2px solid rgb(7, 113, 219);
  box-shadow: 0 0 10px 4px rgb(7, 113, 219);
}
.sign a {
  text-decoration: none;
  color: rgb(162, 59, 22);
  font-size: 17px;
}
.sign a:hover {
  color: black;
}
.sign a i {
  margin-right: 8px;
}

.header h1 {
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 80px;
}
.header h1 span {
  color: rgb(162, 59, 22);
}
.header .desc {
  width: 400px;
  height: 55px;
  line-height: 55px;
  background-color: rgba(53, 10, 225, 0.5);
  color: white;
  margin: auto;
  border-radius: 20px;
  border: 1px solid pink;
  margin-top: 30px;
}
.header .desc:hover {
  color: brown;
}
.members {
  text-align: center;
  padding: 50px 30px;
}

.members .member-list {
  list-style-type: none;
  margin-top: 25px;
}
.members .member-list .member-item {
  width: 350px;
  display: inline-block;
  margin: 15px;
  box-shadow: 0 0 15px #bbbbbb;
}
.members .member-list .member-pic {
  width: 100%;
  height: 300px;
  border-radius: 50%;
}
.members .member-list .member-bio {
  padding: 20px;
  text-align: justify;
}
.members .member-list .member-name {
  font-size: 20px;
  margin-top: 6px;
}
.about {
  height: 700px;
  background-image: url("../images/1603.jpg");
  background-size: cover;
  padding-top: 50px;
  background-color: #a1a1b1;
  background-blend-mode: multiply;
}
.about .circle {
  width: 600px;
  height: 600px;

  background-color: rgba(125, 4, 4, 0.5);
  margin: auto;
  border-radius: 50%;
  text-align: center;
  padding: 100px 120px;
  color: white;
}
.about .circle p {
  text-align: justify;
  margin-top: 50px;
}
.circle h2 {
  font-size: 40px;
}


/*TOP TRAVEL SECTION */
.heading {
  margin: 30px;
}
.Top-Travel {
  display: flex;
  align-items: center;
  margin-top: 60px;
  gap: 20px;
  margin-left: 20px;
  margin-right: 23px;
  justify-content: center;
  margin-bottom: 30px;
}
.London {
  width: 286px;
  height: 333px;
  background-image: url(/images/london.jpg);
  background-position: top center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 15px #727171;
}
.London:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.Top-Travel p {
  margin-top: 280px;
  color: white;
  font-size: 30px;
}
.London img {
  box-shadow: 0 0 15px #727171;
  border-radius: 10px;
}

.London img:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.Paris {
  width: 286px;
  height: 333px;
  background-image: url(/images/paris.jpg);
  background-position: top center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 15px #727171;
}
.Paris:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

.Paris img {
  box-shadow: 0 0 15px #727171;
  width: 286px;
  height: 333px;
  border-radius: 10px;
}
.Paris img:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.Dubai {
  width: 286px;
  height: 333px;
  background-image: url(/images/dubai.jpg);
  background-position: top center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 15px #727171;
}
.Dubai:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.Dubai img {
  box-shadow: 0 0 15px #727171;
  width: 286px;
  height: 333px;
  border-radius: 10px;
}
.Dubai img:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.barcelona {
  width: 286px;
  height: 333px;
  background-image: url(/images/barcelona.jpg);
  background-position: top center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 15px #727171;
}
.barcelona:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.barcelona img {
  box-shadow: 0 0 15px #727171;
  width: 286px;
  height: 333px;
  border-radius: 10px;
}
.barcelona img:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}

/*Hotels Section*/
.hotels {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  background: #fff;
}
.first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: 270px;
  height: 270px;
}
.first img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.large-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 270px;
}
.large-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.top-hotels {
  padding-top: 20px;
}
.top-hotels .text {
  text-align: center;
}
/*FOOTER SECTION*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
footer {
  margin-top: 25px;
  background-color: #073b53;
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding: 30px;
}
.contact ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer h3 {
  margin-bottom: 18px;
  text-align: center;
}

.quick ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.quick ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
}
.quick ul li a i {
  margin-right: 5px;
}
.follow ul {
  display: flex;
  flex-direction: column;
  grid-area: 15px;
  text-align: center;
}
.follow ul li {
  margin-bottom: 9px;
  font-size: 20px;
}
.copy {
  background-color: rgb(122, 163, 209);
  height: 45px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

/*travel*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #3d5cb8;
  --primary-color-dark: #334c99;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --extra-light: #f1f5f9;
  --white: #ffffff;
  --max-width: 1200px;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--text-dark);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
}

.travellers__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.travellers__card {
  border-radius: 5rem;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.travellers__card__content {
  position: relative;
  padding: 1rem;
  text-align: center;
}

.travellers__card__content img {
  position: absolute;
  max-width: 70px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--extra-light);
  border-radius: 100%;
}

.travellers__card__content h4 {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.travellers__card__content p {
  font-weight: 500;
  color: var(--text-light);
}

@media (width < 900px) {
  .travellers__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
